:root {
  --space: 2rem;
  --space-xs: calc(var(--space) / 3);
  --space-sm: calc(var(--space) / 2);
  --space-md: calc(var(--space) * 2);

  --color-primary: lightgray;
  --color-accent: whitesmoke;
  --color-dark: black;
  --color-mid: gray;
  --color-light: white;
  --color-highlight: dodgerblue;

  --radius: 0.125rem;
}

.asidebar {
  --offset: var(--space);
  flex-grow: 1;
  flex-basis: 300px;
  align-self: start;
  position: fixed;
  top: var(--offset);
  right: var(--offset);
}

.asidebar .acomponent {
  display: grid;
  grid-template-rows: auto 1fr auto;
  position: relative;
}

.asidebar .acomponent .acontent {
  min-height: 200px;
  max-height: 500px;
  overflow-y: auto;
}

.asidebar .acomponent {
  max-height: calc(100vh - var(--offset) * 2);
}

.asidebar .abutton {
  appearance: none;
  padding: var(--space-xs) var(--space-sm);
  font-family: inherit;
  font-size: 1rem;
  color: white;
  background-color: var(--color-dark);
  border: 1px solid var(--color-dark);
  cursor: pointer;
  border-radius: var(--radius);
  box-shadow: rgba(black, 0.1) 4px 4px;
}

.asidebar .abutton:active {
  transform: translateY(1px);
  box-shadow: none;
}
