img {
  max-width: 100%;
  height: auto;
}
.d-block {
  display: block;
}
.clear {
  clear: both;
}
body.mceContentBody,body.mce-content-body {
  background: #FFF;
  font-size:100%;
  word-wrap: break-word;
}