body {
  overflow: hidden;
  background: #0F0108;
}
svg,
.effects {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  height: 300px;
  height: 90vmin;
  width: 300px;
  width: 90vmin;
}
@-webkit-keyframes background-animation {
  0% {
    background: #45062E;
  }
  20% {
    background: #590842;
  }
  35% {
    background: #5E083E;
  }
  50% {
    background: #590842;
  }
  70% {
    background: #59084E;
  }
  90% {
    background: #35041F;
  }
  100% {
    background: #45062E;
  }
}
@keyframes background-animation {
  0% {
    background: #45062E;
  }
  20% {
    background: #590842;
  }
  35% {
    background: #5E083E;
  }
  50% {
    background: #590842;
  }
  70% {
    background: #59084E;
  }
  90% {
    background: #35041F;
  }
  100% {
    background: #45062E;
  }
}
svg {
  background: #45062E;
  -webkit-animation: background-animation 15s linear infinite;
          animation: background-animation 15s linear infinite;
}
.effects {
  background: -webkit-radial-gradient(circle, transparent 0%, #0F0108 60%);
  background: radial-gradient(circle, transparent 0%, #0F0108 60%);
  height: 320px;
  height: 95vmin;
  width: 320px;
  width: 95vmin;
}
path {
  stroke-dasharray: 600;
  stroke-dashoffset: 0;
  -webkit-animation: dash 60s linear infinite;
          animation: dash 60s linear infinite;
}
@-webkit-keyframes dash {
  from {
    stroke-dashoffset: 6000;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes dash {
  from {
    stroke-dashoffset: 6000;
  }
  to {
    stroke-dashoffset: 0;
  }
}
