@charset "UTF-8";

/* start \css\base\reset.css */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

body,
button,
input,
textarea {
  font-family: "Roboto Condensed", "Nanum Barun Gothic", "Malgun Gothic", sans-serif;
  font-size: 12px;
}

input,
button {
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  border: 0 none;
  background-color: transparent;
  cursor: pointer;
}

input[type="button"] {
  cursor: pointer;
}

a {
  text-decoration: none;
}

button {
  outline: none;
}

input,
select,
button {
  vertical-align: middle;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}

img {
  vertical-align: middle;
}

legend {
  display: block;
  overflow: hidden;
  position: absolute;
  top: -1000em;
  left: 0
}

.clfix:before,
.clfix:after {
  display: table;
  content: ''
}

.clfix:after {
  clear: both
}

.clfix {
  *zoom: 1
}

/* Common style */
input[type='text'],
input[type='password'],
input[type='number'] {
  padding: 0 8px;
  border: 1px solid #c6c6c6;
  line-height: 23px;
  background-color: #fff;
  height: 25px;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* overlay, dim, loading */
#div_createOverLay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  -ms-filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=20);
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=20);
  opacity: 0.2;
  z-index: 99;
}

.ajaxlodingimg {
  width: 95px;
  height: 72px;
  overflow: hidden;
  text-indent: -999em;
  background: url(//file.adwitt.com/image/loading-wisebirds.gif) no-repeat
}

.ajaxlodingimg2 {
  width: 464px;
  height: 219px;
  overflow: hidden;
  background: url(//file.adwitt.com/image/common/bg/bg-ajaxloading.jpg) no-repeat 0 0;
  text-align: center;
  z-index: 99;
  font-family: "Roboto Condensed", "Nanum Barun Gothic", "Malgun Gothic", sans-serif;
}

.ajaxlodingimg2 .text-ajaxloading {
  margin: 78px 0 10px;
  color: #3b5998;
  line-height: 28px;
  font-size: 14px;
}

.ajaxlodingimg2 .text-ajaxloading span {
  font-size: 20px;
  font-weight: bold;
}

.bg-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  -js-display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg-overlay-img {
  z-index: 99;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #fff url(//file.adwitt.com/image/loading-wisebirds.gif) no-repeat 50% 50%;
  background-color: rgba(87, 87, 87, 0.25);
}

.loading-with-dim {
  z-index: 2;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: #fff url(//file.adwitt.com/image/loading-wisebirds.gif) no-repeat 50% 50%;
  background-color: rgba(255, 255, 255, 0.5);
  text-indent: -999em;
}

.loading-with-dim--black {
  z-index: 2;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: #fff url(//file.adwitt.com/image/loading-wisebirds.gif) no-repeat 50% 50%;
  background-color: rgba(87, 87, 87, 0.25);
  text-indent: -999em;
}

.popup-dim {
  background-color: rgba(87, 87, 87, 0.25);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
}

/* end \css\base\reset.css */
.wrap>.header {
  background-color: #3b5998;
  height: 66px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  min-width: 1440px;
  z-index: 999;
  *zoom: 1;
}

.wrap>.header:before,
.wrap>.header:after {
  content: '';
  display: table;
}

.wrap>.header:after {
  clear: both;
}

.wrap>.header:after {
  -webkit-box-shadow: 2px 3px 5px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 2px 3px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 2px 3px 5px 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: -4px;
  width: 100%;
  height: 4px;
  background-color: #fff;
}

.wrap>.header .logo {
  float: left;
  margin: 16px 70px 0 55px;
}

.wrap>.header .global-navigation {
  float: left;
}

.wrap>.header .global-navigation a {
  color: #fff;
}

.wrap>.header .global-navigation h2 {
  font-weight: 400;
}

.wrap>.header .global-navigation h5 {
  font-weight: 400;
}

.wrap>.header .global-navigation .gnb-masterboard {
  float: left;
}

.wrap>.header .global-navigation .gnb-masterboard a {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  text-align: center;
  color: #fff;
  font-size: 13px;
  width: 96px;
  height: 66px;
  padding-top: 33px;
  background: url(//file.adwitt.com/image/header/gnb-masterboard_normal.png) no-repeat 50% 15px;
}

.wrap>.header .global-navigation .gnb-masterboard a:hover {
  color: #3b5998;
  background: url(//file.adwitt.com/image/header/gnb-masterboard_active.png) no-repeat 50% 15px #fff;
}

.wrap>.header .global-navigation .gnb-masterboard a.active {
  color: #3b5998;
  background: url(//file.adwitt.com/image/header/gnb-masterboard_active.png) no-repeat 50% 15px #fff;
}

.wrap>.header .global-navigation .gnb-masterboard a p {
  margin-top: 5px;
}

.wrap>.header .global-navigation .gnb-dashboard {
  float: left;
}

.wrap>.header .global-navigation .gnb-dashboard a {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  text-align: center;
  color: #fff;
  font-size: 13px;
  width: 96px;
  height: 66px;
  padding-top: 33px;
  background: url(//file.adwitt.com/image/header/gnb-dashboard_normal.png) no-repeat 50% 15px;
}

.wrap>.header .global-navigation .gnb-dashboard a:hover {
  color: #3b5998;
  background: url(//file.adwitt.com/image/header/gnb-dashboard_active.png) no-repeat 50% 15px #fff;
}

.wrap>.header .global-navigation .gnb-dashboard a.active {
  color: #3b5998;
  background: url(//file.adwitt.com/image/header/gnb-dashboard_active.png) no-repeat 50% 15px #fff;
}

.wrap>.header .global-navigation .gnb-dashboard a p {
  margin-top: 5px;
}

.wrap>.header .global-navigation .gnb-reports {
  float: left;
}

.wrap>.header .global-navigation .gnb-reports a {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  text-align: center;
  color: #fff;
  font-size: 13px;
  width: 96px;
  height: 66px;
  padding-top: 33px;
  background: url(//file.adwitt.com/image/header/gnb-reports_normal.png) no-repeat 50% 15px;
}

.wrap>.header .global-navigation .gnb-reports a:hover {
  color: #3b5998;
  background: url(//file.adwitt.com/image/header/gnb-reports_active.png) no-repeat 50% 15px #fff;
}

.wrap>.header .global-navigation .gnb-reports a.active {
  color: #3b5998;
  background: url(//file.adwitt.com/image/header/gnb-reports_active.png) no-repeat 50% 15px #fff;
}

.wrap>.header .global-navigation .gnb-reports a p {
  margin-top: 5px;
}

.wrap>.header .global-navigation .gnb-manage {
  float: left;
}

.wrap>.header .global-navigation .gnb-manage a {
  position: relative;
  display: block;
  text-align: center;
  color: #fff;
  font-size: 13px;
  width: 96px;
  height: 66px;
  padding-top: 33px;
  box-sizing: border-box;
}

.wrap>.header .global-navigation .gnb-manage a::before {
  content: '';
  overflow: hidden;
  position: absolute;
  top: 16px;
  left: 50%;
  margin-left: -9px;
  display: block;
  width: 18px;
  height: 16px;
  background: url(http://file.adwitt.com/image/header/gnb-assets.png) no-repeat 0 0;
}

.wrap>.header .global-navigation .gnb-manage a:hover::before,
.wrap>.header .global-navigation .gnb-manage a.active::before {
  background: url(http://file.adwitt.com/image/header/gnb-assets.png) no-repeat 0 -18px;
}

.wrap>.header .global-navigation .gnb-manage a:hover,
.wrap>.header .global-navigation .gnb-manage a.active {
  color: #3b5998;
  background-color: #fff;
}

.wrap>.header .global-navigation .gnb-manage a p {
  margin-top: 5px;
}

.wrap>.header .global-navigation .gnb-account {
  float: left;
}

.wrap>.header .global-navigation .gnb-account a {
  display: block;
  text-align: center;
  color: #fff;
  font-size: 13px;
  width: 96px;
  height: 66px;
  padding-top: 33px;
  box-sizing: border-box;
  background: url(//file.adwitt.com/image/header/gnb-account_normal.png) no-repeat 50% 15px;
}

.wrap>.header .global-navigation .gnb-account a:hover {
  color: #3b5998;
  background: url(//file.adwitt.com/image/header/gnb-account_active.png) no-repeat 50% 15px #fff;
}

.wrap>.header .global-navigation .gnb-account a.active {
  color: #3b5998;
  background: url(//file.adwitt.com/image/header/gnb-account_active.png) no-repeat 50% 15px #fff;
}

.wrap>.header .global-navigation .gnb-account a p {
  margin-top: 5px;
}

.wrap>.header .global-navigation .gnb-help {
  float: left;
}

.wrap>.header .global-navigation .gnb-help a {
  display: block;
  text-align: center;
  color: #fff;
  font-size: 13px;
  width: 96px;
  height: 66px;
  padding-top: 33px;
  box-sizing: border-box;
  background: url(//file.adwitt.com/image/header/gnb-help_normal.png) no-repeat 50% 15px;
}

.wrap>.header .global-navigation .gnb-help a:hover {
  color: #3b5998;
  background: url(//file.adwitt.com/image/header/gnb-help_active.png) no-repeat 50% 15px #fff;
}

.wrap>.header .global-navigation .gnb-help a.active {
  color: #3b5998;
  background: url(//file.adwitt.com/image/header/gnb-help_active.png) no-repeat 50% 15px #fff;
}

.wrap>.header .global-navigation .gnb-help a p {
  margin-top: 5px;
}

.wrap>.header .global-navigation .gnb-create-campaign {
  float: left;
  position: relative;
  margin-top: 10px;
  margin-left: 46px;
}

.wrap>.header .global-navigation .gnb-create-campaign a {
  display: block;
  width: 142px;
  height: 44px;
  line-height: 44px;
  background: #2c4780 url(//file.adwitt.com/image/header/gnb-create-campaign.png) left 18px top 50% no-repeat;
  border-radius: 20px;
  font-size: 13px;
  text-align: center;
  padding-left: 10px;
}

.wrap>.header .global-navigation .gnb-create-campaign a.active {
  background: #fff url(//file.adwitt.com/image/header/gnb-create-campaign_active.png) left 18px top 50% no-repeat;
  color: #2c4780;
}

.wrap>.header .global-navigation .gnb-create-campaign a span {
  margin-right: 8px;
}

.wrap>.header .global-navigation .gnb-create-campaign:before {
  content: '';
  display: block;
  position: absolute;
  height: 50px;
  width: 1px;
  top: -2px;
  background-color: #2a3f6c;
  left: -23px;
}

.wrap>.header .global-navigation .gnb-create-campaign:after {
  content: '';
  display: block;
  position: absolute;
  height: 50px;
  width: 1px;
  top: -2px;
  background-color: #537dc1;
  left: -22px;
}

.wrap>.header .global-navigation .menu-reports {
  position: absolute;
  top: 70px;
  left: 0;
  display: none;
  width: 100%;
  height: 29px;
  background-color: #fff;
  box-shadow: 2px 3px 5px 0 rgba(0, 0, 0, 0.12);
  *zoom: 1;
}

.wrap>.header .global-navigation .menu-reports:before {
  display: table;
  content: '';
}

.wrap>.header .global-navigation .menu-reports:after {
  display: table;
  content: '';
  clear: both;
}

.wrap>.header .global-navigation .menu-reports li {
  float: left;
  margin-right: 20px;
}

.wrap>.header .global-navigation .menu-reports li a {
  font-size: 12px;
  color: #404040;
  line-height: 30px;
}

.wrap>.header .global-navigation .menu-reports li a:hover {
  color: #3b5998;
}

.wrap>.header .global-navigation .menu-reports li a.active {
  color: #3b5998;
}

.wrap>.header .global-navigation .menu-reports li:first-child {
  margin-left: 505px;
}

.wrap>.header .global-navigation .menu-manage {
  position: absolute;
  top: 70px;
  left: 0;
  display: none;
  width: 100%;
  height: 29px;
  background-color: #fff;
  box-shadow: 2px 3px 5px 0 rgba(0, 0, 0, 0.12);
  *zoom: 1;
}

.wrap>.header .global-navigation .menu-manage:before {
  display: table;
  content: '';
}

.wrap>.header .global-navigation .menu-manage:after {
  display: table;
  content: '';
  clear: both;
}

.wrap>.header .global-navigation .menu-manage li {
  float: left;
  margin-right: 20px;
}

.wrap>.header .global-navigation .menu-manage li a {
  font-size: 12px;
  color: #404040;
  line-height: 30px;
}

.wrap>.header .global-navigation .menu-manage li a:hover {
  color: #3b5998;
}

.wrap>.header .global-navigation .menu-manage li a.active {
  color: #3b5998;
}

.wrap>.header .global-navigation .menu-manage li:first-child {
  margin-left: 409px;
}

.wrap>.header .global-navigation .menu-account {
  position: absolute;
  top: 70px;
  left: 0;
  display: none;
  width: 100%;
  height: 29px;
  background-color: #fff;
  box-shadow: 2px 3px 5px 0 rgba(0, 0, 0, 0.12);
  *zoom: 1;
}

.wrap>.header .global-navigation .menu-account:before {
  display: table;
  content: '';
}

.wrap>.header .global-navigation .menu-account:after {
  display: table;
  content: '';
  clear: both;
}

.wrap>.header .global-navigation .menu-account li {
  float: left;
  margin-right: 20px;
}

.wrap>.header .global-navigation .menu-account li a {
  font-size: 12px;
  color: #404040;
  line-height: 30px;
}

.wrap>.header .global-navigation .menu-account li a:hover {
  color: #3b5998;
}

.wrap>.header .global-navigation .menu-account li a.active {
  color: #3b5998;
}

.wrap>.header .global-navigation .menu-account li:first-child {
  margin-left: 601px;
}

.wrap>.header .global-navigation .menu-help {
  -webkit-box-shadow: 2px 3px 5px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 2px 3px 5px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 2px 3px 5px 0 rgba(0, 0, 0, 0.12);
  position: absolute;
  top: 70px;
  left: 0;
  display: none;
  width: 100%;
  height: 29px;
  background-color: #fff;
  *zoom: 1;
}

.wrap>.header .global-navigation .menu-help:before,
.wrap>.header .global-navigation .menu-help:after {
  content: '';
  display: table;
}

.wrap>.header .global-navigation .menu-help:after {
  clear: both;
}

.wrap>.header .global-navigation .menu-help li {
  float: left;
  margin-right: 20px;
}

.wrap>.header .global-navigation .menu-help li a {
  font-size: 12px;
  color: #404040;
  line-height: 30px;
}

.wrap>.header .global-navigation .menu-help li a:hover,
.wrap>.header .global-navigation .menu-help li a.active {
  color: #3b5998;
}

.wrap>.header .global-navigation .menu-help li:first-child {
  margin-left: 697px;
}

.wrap>.header .management {
  float: right;
  padding: 33px 54px 0 0;
  *zoom: 1;
}

.wrap>.header .management:before,
.wrap>.header .management:after {
  content: '';
  display: table;
}

.wrap>.header .management:after {
  clear: both;
}

.wrap>.header .management .account {
  position: absolute;
  right: 55px;
  top: 14px;
  font-size: 0;
}

.wrap>.header .management .account .logout {
  margin-right: 0;
}

.wrap>.header .management .account .logout:before {
  content: '';
  display: block;
  width: 1px;
  height: 13px;
  background-color: #c3c3c3;
  position: absolute;
  left: -8px;
  top: -1px;
}

.wrap>.header .management .account li {
  display: inline-block;
  position: relative;
  margin-left: 8px;
  margin-right: 8px;
  font-size: 11px;
  color: #fff;
}

.wrap>.header .management .account li a {
  color: #fff;
  font-weight: 400;
}

.wrap>.header .management .account .mail-address {
  color: #fff;
}

.wrap>.header .management .account .mail-address a {
  text-decoration: underline;
}

.wrap>.header .management .account .mail-address:before {
  background-color: transparent;
}

.wrap>.header .management .etc {
  position: absolute;
  right: 20px;
  top: 13px;
}

.wrap>.header .management .etc button {
  text-indent: -9999px;
  overflow: hidden;
  display: block;
}

.wrap>.header .management .etc .btn-setting {
  width: 15px;
  height: 14px;
  background-image: url(//file.adwitt.com/image/header/btn-setting.png);
}

.wrap>.header .management .etc .btn-pagelist {
  width: 14px;
  height: 11px;
  background-image: url(//file.adwitt.com/image/header/btn-pagelist.png);
  margin-top: 10px;
}

/*
 * date: 2016.04.18
 * desc: Video Remarketing Audience Update
 * author: sujin
 */

/* Common Popup Style */
.popup--wrapper {
  z-index: 100;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 20px 20px 30px 20px;
  width: 600px;
  border: 1px solid #cbcbcb;
  background-color: #fff;
}

.popup--wrapper .popup__header {
  background-color: #3b5998;
  height: 45px;
}

.popup--wrapper .popup__header h5 {
  color: #fff;
  font-size: 15px;
  line-height: 45px;
  padding: 0 20px;
}

.popup--wrapper .popup__container {
  padding: 30px 15px 25px;
}

.popup--wrapper .popup__footer {
  border-top: 2px solid #3b5998;
  padding-top: 30px;
  text-align: center;
}

.popup--wrapper .popup__footer button+button {
  margin-left: 8px;
}

.popup--wrapper .popup__btn--close {
  background: url("//file.adwitt.com/image/button/btn_popupclose-ffffff-13x13.png") no-repeat 0 0;
  display: block;
  height: 13px;
  overflow: hidden;
  position: absolute;
  right: 38px;
  text-indent: -9999px;
  top: 37px;
  width: 13px;
  padding: 0;
}

.popup--wrapper .popup__footer button[class^="btn"] {
  overflow: hidden;
  padding: 0 40px;
  box-sizing: border-box;
  border-radius: 12.5px;
  color: #fff;
  font-size: 14px;
  line-height: 25px;
  text-align: center;
}

.popup--wrapper .popup__footer button[class^="btn"].fix-wid100 {
  padding-left: 0;
  padding-right: 0;
  width: 100px;
}

.popup--wrapper .popup__footer .btn-ok {
  background-color: #3b5998;
}

.popup--wrapper .popup__footer .btn-cancel {
  background-color: #ababab;
}

/* Create Website Custom Audience Popup Style */
.popup--video-remarketing__table {
  width: 100%;
}

.popup--video-remarketing__table th {
  text-align: left;
  font-size: 14px;
  vertical-align: top;
}

.popup--video-remarketing__table th,
.popup--video-remarketing__table td {
  padding-bottom: 7px;
}

.popup--video-remarketing__table th label {
  display: inline-block;
  margin-top: 6px;
  color: #3b5998;
}

.popup--video-remarketing__table input[type="text"] {
  width: 100%;
}

.popup--video-remarketing__table input[type="number"] {
  padding-right: 0;
  padding-left: 11px;
  width: 50px;
  text-align: center;
}

.popup--video-remarketing__table select {
  width: 100%;
}

.popup--video-remarketing__table .fa {
  color: #404040;
}

.popup--video-remarketing__table .select2 {
  width: 100%;
  font-size: 12px;
}

/* engagement selected Contents */
.engagement-selected {
  position: relative;
  margin-top: 10px;
  margin-bottom: 20px;
}

.engagement-selected__value {
  padding: 4px 5px 5px 9px;
  background-color: #f0f0f0;
  color: #404040;
}

.engagement-selected__value__num {
  display: inline-block;
  margin-right: 2px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #3b5998;
  color: #fff;
  text-align: center;
  line-height: 16px;
}

.engagement-selected__value__num .hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.engagement-selected__remove-all {
  position: absolute;
  top: 2px;
  right: 0;
  display: block;
  width: 19px;
  height: 19px;
  background: url(//file.adwitt.com/image/button/btn-delete-no-circle-black.png) no-repeat 4px 4px;
  text-indent: -9999px;
}

.engagement-selected__video-list {
  position: relative;
  max-height: 122px;
  padding-right: 20px;
  border-bottom: 6px solid #f2f2f2;
}

.engagement-selected__remove-item {
  position: absolute;
  top: 7px;
  right: 0;
  display: block;
  width: 22px;
  height: 22px;
  background: url(//file.adwitt.com/image/button/btn_delete-afafaf-12x12.png) no-repeat 5px 5px;
  text-indent: -9999px;
}

.engagement-selected__video-item {
  position: relative;
  padding: 13px 20px 13px 44px;
  border-bottom: 1px solid #dadada;
  color: #3b5998;
}

.engagement-selected__video-item>img {
  position: absolute;
  top: 8px;
  left: 0;
  background-color: #f1f1f1;
  width: 35px;
  height: 22px;
  object-fit: cover;
}

.engagement-selected__video-item>p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 300px;
  cursor: pointer;
}

.engagement-selected__choose {
  overflow: hidden;
  margin-top: 10px;
  padding: 0 12px;
  box-sizing: border-box;
  border-radius: 12.5px;
  background-color: #404040;
  color: #fff;
  line-height: 20px;
  text-align: center;
}

.engagement-selected__choose[data-required="true"] {
  -webkit-box-shadow: 0px 0px 2px 1px rgb(249, 63, 63);
  -moz-box-shadow: 0px 0px 2px 1px rgb(249, 63, 63);
  box-shadow: 0px 0px 2px 1px rgb(249, 63, 63);
}

/* choice video */
.popup--video-choice {
  width: 820px;
}

.search--list-wrap {
  margin-bottom: 10px;
}

.search--list-wrap::after {
  content: ' ';
  display: block;
  clear: both;
}

.search--list-wrap .search__textbox {
  float: left;
}

.search--list-wrap .search__selectbox {
  float: right;
}

.search--list-wrap .search__textbox {
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.search__textbox__input {
  background: url(//file.adwitt.com/image/icon/icon_search-b7b7b7-16x15.png) no-repeat right 5px top 50%;
  padding-right: 25px;
}

.search__textbox__remove {
  width: 21px;
  height: 21px;
  overflow: hidden;
  text-indent: -9999px;
  background: url(//file.adwitt.com/image/button/btn-remove-black-11x11.png) no-repeat 50% 50% #fff;
  position: absolute;
  right: 1px;
  top: 2px;
  display: none;
}

.popup--video-choice__table {
  width: 100%;
}

.popup--video-choice__table thead th {
  padding-top: 9px;
  padding-bottom: 8px;
  background-color: #f2f2f2;
  color: #3B5998;
  font-size: 14px;
  text-align: left;
}

.popup--video-choice__table td {
  padding-top: 11px;
  padding-bottom: 10px;
  border-top: 1px solid #dadada;
  font-size: 13px;
}

.popup--video-choice__table tr:last-child td {
  border-bottom: 1px solid #dadada;
}

.popup--video-choice__table tr th:first-child,
.popup--video-choice__table tr td:first-child {
  text-align: center;
}

.popup--video-choice__table__desc {
  text-overflow: ellipsis;
  overflow: hidden;
  margin-bottom: 5px;
  width: 210px;
  white-space: nowrap;
  color: #3B5998;
  font-family: 'nanum barun gothic';
}

.popup--video-choice__table__thumb {
  overflow: hidden;
  width: 115px;
  height: 75px;
}

.popup--video-choice__table__thumb img {
  width: 100%;
  object-fit: cover;
}

.video-choice-list-scrollbox {
  position: relative;
  height: 560px;
  border-bottom: 6px solid #f2f2f2;
}

/* Common checkbox */
.d-checkbox input[type="checkbox"] {
  display: none;
}

.d-checkbox label {
  position: relative;
  padding-left: 20px;
}

.d-checkbox label::before,
.d-checkbox label::after {
  content: ' ';
  position: absolute;
  top: -1px;
  left: 0;
  display: inline-block;
  width: 17px;
  height: 17px;
  background-repeat: no-repeat;
  background-position: 3px 3px;
}

.d-checkbox label::before {
  background-image: url("//file.adwitt.com/image/bg/bg_checkbox-bcbcbc-11x11.png");
}

.d-checkbox label::after {
  background-image: url("//file.adwitt.com/image/icon/icon_check-5f93ff-13x10.png");
  background-position-x: 4px;
}

.d-checkbox [type='checkbox']:not(:checked)+label::after {
  opacity: 0;
}

.d-checkbox [type='checkbox']:checked+label::after {
  opacity: 1;
}

/* checkbox dark style */
.d-checkbox.dark label::after {
  background: url("/image/common.png") no-repeat -113px 3px;
}

/* No video */
.popup--video-choice__available-video {
  padding: 65px 0;
  color: #404040;
  font-size: 15px;
  text-align: center;
}

/* Common Style Custom Selectbox */
.select2-container--adwitt .select2-selection--single,
.select2-container--adwitt-time .select2-selection--single {
  border: 1px solid #c6c6c6;
  height: 25px;
  background-color: #fff;
  text-align: left;
}

.select2-container--adwitt .select2-selection--single .select2-selection__rendered,
.select2-container--adwitt-time .select2-selection--single .select2-selection__rendered {
  line-height: 25px;
}

.select2-container--adwitt .select2-selection--single .select2-selection__arrow,
.select2-container--adwitt-time .select2-selection--single .select2-selection__arrow {
  display: block;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 23px;
}

.select2-container--adwitt .select2-selection--single .select2-selection__arrow b,
.select2-container--adwitt-time .select2-selection--single .select2-selection__arrow b {
  background-image: url(//file.adwitt.com/image/bg/bg_select-3b5998-9x6.png);
  display: inline-block;
  height: 6px;
  position: absolute;
  right: 7px;
  top: 9px;
  width: 9px;
}

.select2-container--adwitt .select2-dropdown,
.select2-container--adwitt-time .select2-dropdown {
  border-radius: 0;
}

.select2-container--adwitt.select2-container--open .select2-selection__rendered,
.select2-container--adwitt-time.select2-container--open .select2-selection__rendered {
  background-color: #3b5998;
  color: #fff;
  outline: 0 none;
}

.select2-container--adwitt.select2-container--open .select2-selection--single .select2-selection__arrow b,
.select2-container--adwitt-time.select2-container--open .select2-selection--single .select2-selection__arrow b {
  /* background-image: url(//file.adwitt.com/image/button/btn_accordion-up-ffffff-8x6.png); */
  background-image: url(//file.adwitt.com/image/dashboard/bg_select-up_ffffff_9x6.png);
}

.select2-container--adwitt .select2-results__option[aria-selected=true],
.select2-container--adwitt-time .select2-results__option[aria-selected=true] {
  background-color: #fff;
}

.select2-container--adwitt .select2-results__option--highlighted[aria-selected],
.select2-container--adwitt-time .select2-results__option--highlighted[aria-selected] {
  background-color: #e0e6f2;
  color: #404040;
}

.select2-container--adwitt .select2-results>.select2-results__options,
.select2-container--adwitt-time .select2-results>.select2-results__options,
.select2-container--adwitt-multiple .select2-results>.select2-results__options {
  overflow-y: auto;
  max-height: 199px;
  position: relative;
}

.select2-container--adwitt .select2-results>.select2-results__options .select2-results__option,
.select2-container--adwitt-time .select2-results>.select2-results__options .select2-results__option {
  line-height: 24px;
  overflow: hidden;
  padding: 0 12px 0 6px;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
}

.select2-container--adwitt .select2-results>.select2-results__options li,
.select2-container--adwitt-time .select2-results>.select2-results__options li {
  border-bottom: 1px solid #c1c1c1;
}

.select2-container--adwitt .select2-results>.select2-results__options li:nth-last-of-type(1),
.select2-container--adwitt-time .select2-results>.select2-results__options li:nth-last-of-type(1) {
  border-bottom: 0 none;
}

.select2-container--adwitt-time .select2-results>.select2-results__options .select2-results__option {
  line-height: 25px;
  padding: 0 12px 0 6px;
}

.select2-container--adwitt-time .select2-results>.select2-results__options li {
  border-bottom: 0 none;
}

.select2-container--disabled .select2-selection--single {
  background-color: #eeeeee;
  cursor: default;
}

/* select disabled style */
.select2-container--adwitt .select2-results__option[aria-disabled=true] {
  color: #999;
}

/* select2 selected style */
.adwitt--selected.select2-container--adwitt .select2-results__option[aria-selected="true"]::before {
  content: '';
  display: inline-block;
  margin-right: 5px;
  width: 13px;
  height: 10px;
  background-image: url(//file.adwitt.com/image/icon/icon_check-5f93ff-13x10.png);
}

/*
 * Date: 2016-05-03
 * Desc: dashboard > manage > bid selectbox OR commom style designed chechbox
 * author: sujin;
 */
.d-selectbox {
  z-index: 15;
  position: relative;
}

.d-selectbox>.text,
.d-selectbox .text-wrap {
  position: relative;
  box-sizing: border-box;
  display: block;
  padding-left: 5px;
  width: 180px;
  height: 25px;
  border: 1px solid #bcbcbc;
  line-height: 25px;
  background-color: #fff;
  color: #404040;
  font-size: 12px;
  cursor: pointer;
}

.d-selectbox .text::after,
.d-selectbox .text-wrap .btn-toggle-list {
  content: ' ';
  position: absolute;
  right: 7px;
  top: 9px;
  display: inline-block;
  width: 9px;
  height: 6px;
  background: url("//file.adwitt.com/image/bg/bg_select-3b5998-9x6.png") no-repeat 0 0;
}

.d-selectbox .text-wrap .btn-toggle-list {
  padding: 0;
  text-indent: -9999px;
}

.d-selectbox .text-wrap .text::after {
  display: none;
}

.d-selectbox .text+.d-selectbox__option,
.d-selectbox .text-wrap+.d-selectbox__option-wrap {
  display: none;
  position: absolute;
}

/* active  */
.d-selectbox>.text._active,
.d-selectbox>.text-wrap._active {
  color: #fff;
  background-color: #3b5998;
}

.d-selectbox .text._active::after,
.d-selectbox .text-wrap._active .btn-toggle-list {
  background-image: url(//file.adwitt.com/image/bg/bg_select-ffffff-9x6.png);
}

.d-selectbox .text._active+.d-selectbox__option,
.d-selectbox .text-wrap._active+.d-selectbox__option-wrap {
  display: block;
}

/* list */
.d-selectbox__option {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  margin-top: -1px;
  border: 1px solid #bcbcbc;
}

.advanced-option--selectbox .d-selectbox__option {
  position: relative;
  max-height: 206px;
  overflow-y: auto;
}

.d-selectbox__option li {
  position: relative;
  border-bottom: 1px solid #dadada;
  background-color: #fff;
  line-height: 25px;
  list-style-type: none;
  cursor: pointer;
}

.d-selectbox__option li>span {
  padding-left: 5px;
}

.d-selectbox__option li:hover {
  background-color: #dde3f0;
}

/*list in list*/
.d-selectbox__option li ul {
  display: none;
  width: 100%;
  margin-left: -1px;
  border: 1px solid #bcbcbc;
  border-bottom: 0;
}

.d-selectbox__option li button,
.d-selectbox__option li .arrow {
  position: absolute;
  right: 2px;
  top: 5px;
  display: inline-block;
  width: 15px;
  height: 15px;
  background: url("//file.adwitt.com/image/button/btn_slidedown-3b5998-15x15.png") no-repeat 0 0;
}

.d-selectbox__option li button,
.d-selectbox__option li:focus .arrow,
.d-selectbox__option li:hover .arrow {
  background-image: url("//file.adwitt.com/image/button/btn_slideup-6f6f6f-15x15.png");
}

.d-selectbox__option li li {
  padding-left: 15px;
}

.d-selectbox__option li:last-child {
  border-bottom: 0;
}

/*list in list active*/
.d-selectbox__option li:hover>ul,
.d-selectbox__option li:focus>ul {
  display: block;
}

.d-selectbox__option--nothing {
  padding: 20px;
  border: 1px solid #bcbcbc;
  text-align: center;
  background-color: #fff;
}

/*
 * Date: 2016-07-12
 * Desc: cursor style when infomation icon hover
 * author: sujin
 */
.fa-info-circle {
  cursor: help;
}

/* Desc: select placeholder style */
.select2-selection__placeholder {
  color: #a7a7a7;
}

.select2-container--adwitt.select2-container--open .select2-selection__placeholder {
  color: #f8f8f8;
}

/*
 * Date: 2016-07-25
 * Desc: form error border style
 * author: sujin
 */
.form--error {
  border: 1px solid #e86767 !important;
}

button.is-error,
input[type="text"].is-error {
  box-shadow: 0px 0px 1px 1px rgb(221, 27, 27);
}

/*
 * Date: 2016-08-01
 * Desc: basic table style
 * author: sujin
 */
.table-basic {
  width: 100%;
}

.table-basic th {
  text-align: left;
  font-size: 14px;
  vertical-align: top;
}

.table-basic th,
.table-basic td {
  padding-bottom: 7px;
}

.table-basic th label {
  display: inline-block;
  margin-top: 6px;
  color: #3b5998;
}

.table-basic input[type="text"] {
  width: 100%;
}

.table-basic input[type="number"] {
  padding-right: 0;
  padding-left: 11px;
  width: 50px;
  text-align: center;
}

.table-basic .fa {
  color: #404040;
}

/* .table-basic ._tr::after {
	content: '';
	display: block;
	clear: both;
}
.table-basic ._th {
	width: 20%;

	color: #3b5998;
	font-size: 14px;
}
.table-basic ._td {
	width: 80%;
}
.table-basic ._th,
.table-basic ._td {
	float: left;
	padding-bottom: 7px;
} */

.table-basic ._tr {
  -js-display: flex;
  display: flex;
  align-items: center;
}

.table-basic ._th {
  width: 20%;
  color: #3b5998;
  font-size: 14px;
}

.table-basic ._td {
  width: 80%;
}

.table-basic ._th,
.table-basic ._td {
  padding-top: 7px;

}

.table-basic ._tr:first-child ._th,
.table-basic ._tr:first-child ._td {
  padding-top: 0;
}

/*
 * Date: 2016-08-01
 * Desc: Styling popup - Create Lead Ad Engagement Audience
 * author: sujin
 */
.engagement-type--selectbox .text {
  width: 100%;
}

.popup--lead-ad .notice {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.2;
}

.popup--lead-ad .option-check {
  margin-top: 15px;
  font-size: 13px;
}

.popup--lead-ad .option-check.d-checkbox label {
  padding-left: 22px;
}

/*Styling search in selectbox*/
.d-selectbox__option-wrap .search {
  box-sizing: border-box;
  padding: 7px 8px;
  width: 100%;
  border: 1px solid #bcbcbc;
  border-width: 0 1px;
  background-color: #fff;
}

.d-selectbox__option-wrap .search .search__input {
  width: 100%;
  background: url(//file.adwitt.com/image/icon/icon_search-b7b7b7-16x15.png) no-repeat right 5px top 50%;
  padding-right: 25px;
}

.d-selectbox__option-wrap .btn__search--remove {
  width: 16px;
  height: 16px;
  overflow: hidden;
  text-indent: -9999px;
  background: url(//file.adwitt.com/image/button/btn-remove-black-11x11.png) no-repeat 50% 50% #fff;
  position: absolute;
  right: 14px;
  top: 12px;
  display: none;
}

.d-selectbox .text+.d-selectbox__option-wrap {
  display: none;
}

.d-selectbox .text._active+.d-selectbox__option-wrap {
  position: absolute;
  display: block;
  width: 100%;
}

/*Styling optioin multi line in selectbox*/
.d-selectbox__option.type--multi-line li {
  padding: 5px 14px;
  line-height: 16px;
}

.type--multi-line li::after {
  content: '';
  display: block;
  clear: both;
}

.type--multi-line li .lead-form__page {
  float: left;
  width: 60%;
}

.type--multi-line li .lead-form__count {
  float: right;
  width: 35%;
  text-align: right;
}

.type--multi-line li:last-child {
  border-bottom: 0;
}

/* for lead-form--selectbox */
.lead-form__title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 13px;
  margin-bottom: 3px;
  margin-top: 2px;
  color: #3b5998;
  font-weight: 700;
}

.lead-form__page,
.lead-form__count {
  /* color: #8a8a8a; */
  color: #666;
}

.lead-form--selectbox .d-selectbox__option li._selected {
  background-color: #dde3f0;
}

.lead-form--selectbox.d-selectbox {
  z-index: 16;
}

.lead-form--selectbox .d-selectbox__option-wrap {
  width: 396px;
}

/* overwrite default select style */
.d-selectbox__option li>span.lead-form__page,
.d-selectbox__option li>span.lead-form__count {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  padding-left: 0;
}

.lead-form--selectbox .d-selectbox__option {
  position: static;
}

.lead-form--selectbox .d-selectbox__option {
  margin-top: 0;
}

.lead-form--selectbox .text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 350px;
}

/*perfect scroll wrap style*/
#lead-form-scroll {
  overflow: auto;
  position: relative;
  max-height: 193px;
}

/* Scroll bar color change & init visible */
.lead-form--selectbox .ps-container>.ps-scrollbar-y-rail>.ps-scrollbar-y,
.lead-form--selectbox .ps-container:hover>.ps-scrollbar-y-rail:hover>.ps-scrollbar-y {
  background-color: #3b5998;
  opacity: 1;
}

.lead-form--selectbox .ps-container>.ps-scrollbar-y-rail,
.lead-form--selectbox .ps-container:hover>.ps-scrollbar-x-rail,
.lead-form--selectbox .ps-container:hover>.ps-scrollbar-y-rail {
  opacity: 1;
}

/*
 * Date: 2016-08-04
 * Desc: cursor style when input type date
 * author: sujin
 */
.datepicker {
  cursor: pointer;
}

/*
 * Date: 2016-08-08 / Desc: selected styling selectbox option / author: sujin
 */
.engagement-type--selectbox li[aria-selected="true"]::before {
  background-image: url(//file.adwitt.com/image/icon/icon_check-5f93ff-13x10.png);
  content: '';
  margin-left: 5px;
  display: inline-block;
  width: 13px;
  height: 10px;
}

/*
 * Date: 2016-08-08 / Desc: Edit Video Engagement Audience / author: sujin
 */
.edit-engagement__text {
  font-size: 13px;
}

/*
 * Date: 2016-08-10
 * Desc: custom tooltip style(Common style)
 * author: sujin
 */
.tooltipster-base {
  border-radius: 5px;
}

.tooltipster-base .tooltipster-content {
  font-size: 12px;
  padding: 10px;
}

.tooltipster-attention {
  background-color: #97b3ef;
  /* skyblue */
}

.tooltipster-attention .tooltipster-content {
  line-height: 12px;
  color: #fff;
}

.tooltipster-attention--strong {
  background-color: #5f93ff;
  /* deep skyblue */
}

.tooltipster-attention--strong .tooltipster-content {
  line-height: 12px;
  color: #fff;
}

.tooltipster-info {
  background-color: #404040;
  /* deep gray */
}

.tooltipster-info .tooltipster-content {
  line-height: 18px;
  color: #fff;
}

.tooltipster-exclamation {
  background-color: #3b5998;
  /* adwitt main color */
}

.tooltipster-exclamation .tooltipster-content {
  line-height: 18px;
  color: #fff;
}

.tooltipster-info.big .tooltipster-content {
  padding: 11px 24px;
  text-align: center;
}

/*
 * Date: 2016-08-22
 * Desc: page title icon
 * author: sujin
 */
.title__icon {
  overflow: hidden;
  display: inline-block;
  width: 18px;
  height: 18px;
  vertical-align: middle;
}

.container .container__title h2 span.title__icon {
  vertical-align: middle;
}

.title__icon.assets {
  background: url(//file.adwitt.com/image/header/gnb-assets.png) no-repeat 0 -18px;
}

.title__icon.dashboard {
  background: url(//file.adwitt.com/image/dashboard/icon_dashboard_3b5998_17x15.png) no-repeat 0 0;
}

/*
 * Date: 2016-08-30
 * Desc: common input search
 * author: sujin
 */
.input--searching {
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.input--searching__text {
  padding-right: 25px;
  background: url(//file.adwitt.com/image/icon/icon_search-b7b7b7-16x15.png) no-repeat right 5px top 50%;
}

.input--searching__btn {
  width: 16px;
  height: 16px;
  overflow: hidden;
  text-indent: -9999px;
  background: url(//file.adwitt.com/image/button/btn-remove-black-11x11.png) no-repeat 50% 50% #fff;
  position: absolute;
  right: 5px;
  top: 3px;
  display: none;
}

/*
 * Date: 2016-08-30
 * Desc: popup creative-paging
 * author: sujin
 */
.pagination {
  display: inline-flex;
  align-items: center;
}

.pagination .btn--prev,
.pagination .btn--next {
  overflow: hidden;
  width: 19px;
  height: 19px;
  text-indent: -9999px;
  background: url(//file.adwitt.com/image/common.png) no-repeat 2px -23px;
}

.pagination .btn--prev {
  margin-right: 5px;
}

.pagination .btn--next {
  order: 3;
  margin-left: 5px;
  background-position: -23px -23px;
}

.pagination .btn--prev.disabled,
.pagination .btn--next.disabled {
  cursor: default;
  outline: none;
}

.pagination .btn--prev.disabled {
  background-position: 2px 2px;
}

.pagination .btn--next.disabled {
  background-position: -23px 2px;
}

/*
 * Date: 2016-08-31
 * Desc: common button style
 * author: sujin
 */
.button-basic {
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  height: 23px;
  border-radius: 11px;
  border-radius: calc(23px/2);
  background-color: #404040;
  color: #fff;
  text-align: center;
  line-height: 23px;
}

a.button-basic {
  display: inline-block;
}

/* Change color */
.button-basic.primary {
  background-color: #3b5998;
}

.button-basic.secondary {
  background-color: #ababab;
}

.button-basic.hollow {
  background-color: #fff;
  border: 1px solid #c6c6c6;
  color: #404040;
}

/* fixed size: Remove padding */
.button-basic.fixed {
  padding-left: 0;
  padding-right: 0;
}

/* height size */
.button-basic.small {
  height: 20px;
  line-height: 20px;
  border-radius: calc(20px/2);
}

.button-basic.medium {
  height: 25px;
  line-height: 25px;
  border-radius: calc(25px/2);
}

.button-basic.xsmall {
  height: 18px;
  line-height: 1;
  border-radius: calc(18px/2);
}

.button-basic.xxsmall {
  height: 15px;
  line-height: 1;
  border-radius: calc(15px/2);
}

/* add icon */
.button-basic .fa,
.button-basic .icon {
  vertical-align: middle;
}

.button-basic .fa.left,
.button-basic .icon.left {
  margin-right: 5px;
}

.button-basic .fa.right,
.button-basic .icon.right {
  margin-left: 5px;
}

.button-basic .icon-download {
  overflow: hidden;
  display: inline-block;
  background: url(/image/common.png) no-repeat -50px 0;
  width: 10px;
  height: 10px;
}

.button-basic .icon-file {
  overflow: hidden;
  display: inline-block;
  background: url(//file.adwitt.com/image/icon/icon-upload.png) 0 0 no-repeat;
  width: 13px;
  height: 11px;
}

/* 톱니바퀴 버튼 */
.button--setting {
  overflow: hidden;
  background: url(//file.adwitt.com/image/dashboard/btn_setting_3b5998_15x14.png) no-repeat 4px 4px;
  width: 23px;
  height: 22px;
  border: 0;
  text-indent: -9999px;
}

/* 연필모양 버튼 */
.button--pencil {
  overflow: hidden;
  background: url(//file.adwitt.com/image/button/btn-modify-blue-large.png) no-repeat 5px 5px;
  width: 21px;
  height: 21px;
  border: 0;
  text-indent: -9999px;
}

/* 연필모양 버튼, 검은색 */
.button--pencil.black {
  background: url(//file.adwitt.com/image/button/btn-modify.png) no-repeat 3px 3px;
}

/* input type="file" */
.button--file {
  background: url(//file.adwitt.com/image/button/btn_add_404040_13x13.png) no-repeat 95% 50%;
}

/* 동그라미 엑스 모양 버튼 */
.button--delete {
  overflow: hidden;
  background: url(//file.adwitt.com/image/button/btn_delete-3b5998-15x15.png) no-repeat 3px 3px;
  width: 21px;
  height: 21px;
  border: 0;
  text-indent: -9999px;
}

.button--delete.gray {
  background: url(//file.adwitt.com/image/button/btn_delete_ababab_15x15.png) no-repeat 3px 3px;
}

.button--delete.black {
  background: url(/image/common.png) no-repeat -32px -89px;
}

.button--delete-x {
  position: relative;
  display: inline-block;
  width: 12px;
  height: 12px;
  overflow: hidden;
}

.button--delete-x::before,
.button--delete-x::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  top: 50%;
  left: 0;
  margin-top: -1px;
  background: #404040;
}

.button--delete-x::before {
  transform: rotate(45deg);
}

.button--delete-x::after {
  transform: rotate(-45deg);
}

.button--up-down {
  overflow: hidden;
  background: url(/image/common.png) no-repeat -34px -109px;
  width: 21px;
  height: 21px;
  border: 0;
  text-indent: -9999px;
}

.button--up-down[aria-expanded="true"] {
  background-position: -54px -109px;
}

.button--up-down.gray {
  overflow: hidden;
  background: url(/image/common.png) no-repeat 6px -109px;
  width: 21px;
  height: 21px;
  border: 0;
  text-indent: -9999px;
}

.button--up-down.gray[aria-expanded="true"] {
  background-position: -14px -109px;
}

/* div._table > table > thead + tbody */
._table {
  border: 2px solid #3b5998;
  border-width: 2px 0;
}

._table table {
  width: 100%;
}

._table th {
  padding: 12px 10px;
}

._table thead th {
  border-bottom: 2px solid #3b5998;
}

._table td {
  padding: 10px 8px;
}

._table th {
  color: #3b5998;
  font-weight: bold;
}

._table td {
  border-top: 1px solid #dadada;
  font-size: 13px;
  text-align: center;
}

._table tbody tr:first-child td {
  border-top: 0;
}

._table tbody tr:hover {
  background-color: #f2f2f2;
}

._table .left {
  text-align: left;
}

._table .left th,
._table .left td {
  text-align: inherit;
}

._table.is-datatable {
  border: 0;
}

table.dataTable thead td.left,
table.dataTable thead th.left {
  padding-left: 10px;
}

/* design input="file" */
.upload-filebox {
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  width: 150px;
  height: 20px;
  border: 1px solid #c6c6c6;
  border-radius: 10px;
  border-radius: calc(20px/2);
  background-color: #fff;
  color: #404040;
  text-align: center;
}

.upload-filebox .upload__button {
  position: absolute;
  top: -1px;
  left: 0;
  width: 100%;
  height: 20px;
  cursor: pointer;
}

.upload-filebox .upload__reset {
  position: absolute;
  top: 0;
  right: 1px;
  display: inline-block;
  padding: 1px 3px;
  cursor: pointer;
}

.upload-filebox .upload__button .fa {
  position: absolute;
  top: 2px;
  right: 4px;
  font-size: 15px;
}

.upload-filebox .upload__reset .fa {
  font-size: 15px;
}

.upload-filebox .upload__name {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 110px;
  height: 18px;
  line-height: 18px;
  border: 0;
  background-color: #fff;
  text-align: center;
}

.upload-filebox .upload__name::-webkit-input-placeholder {
  color: #404040;
}

.upload-filebox .upload__name::-moz-placeholder {
  color: #404040;
  opacity: 1;
}

[data-attachment="false"] .upload__reset,
[data-attachment="true"] .upload__button .fa {
  display: none;
}

[data-attachment="true"] .upload__reset,
[data-attachment="false"] .upload__button .fa {
  display: block;
}

/* select2 input search height */
.select2-search--dropdown .select2-search__field {
  padding: 0 4px;
  height: 25px;
  line-height: 25px;
}

/* 캘린더 아이콘 */
.input--date {
  background: url(//file.adwitt.com/image/dashboard/icon_calendar_3b5998_14x14.png) no-repeat right 6px top 50% #fff;
}

/* When selectbox multiple type */
.select2-container--adwitt-multiple.select2-container .select2-selection--multiple,
.select2-container .select2-selection--multiple {
  min-height: 25px;
  height: 25px;
  background-color: white;
  border: 1px solid #c6c6c6;
  cursor: text;
}

.select2-container--adwitt-multiple.select2-container .select2-search--inline .select2-search__field,
.select2-container .select2-search--inline .select2-search__field {
  margin-top: 0;
  padding: 0;
  outline: 0;
  line-height: 20px;
  background-color: transparent;
}

.select2-container--adwitt-multiple .select2-selection--multiple .select2-selection__rendered,
.select2-selection--multiple .select2-selection__rendered {
  vertical-align: top;
}

.select2-container--adwitt-multiple .select2-selection--multiple .select2-selection__choice,
.select2-selection--multiple .select2-selection__choice {
  box-sizing: border-box;
  float: left;
  margin-top: 2px;
  margin-right: 5px;
  padding-left: 8px;
  padding-right: 8px;
  min-width: 130px;
  border-radius: 9px;
  border-color: transparent;
  background: #404040;
  color: #fff;
  line-height: 19px;
  cursor: default;
}

.select2-container--adwitt-multiple .select2-selection--multiple .select2-selection__choice__remove,
.select2-selection--multiple .select2-selection__choice__remove {
  float: right;
  font-size: 15px;
  font-weight: 300;
  margin-right: 0;
  margin-left: 10px;
  color: inherit;
  cursor: pointer;
}

.select2-container--adwitt.select2-container--open .select2-selection--multiple .select2-selection__rendered {
  background-color: #fff;
}

.select2-container--adwitt-multiple .select2-results__options li {
  border-top: 1px solid #c1c1c1;
}

.select2-container--adwitt-multiple .select2-results__options li:first-child {
  border-top: 0;
}

.select2-container--adwitt-multiple.select2-container--open .select2-dropdown--below {
  border-radius: 0;
}

.select2-container--adwitt-multiple .select2-results__option--highlighted[aria-selected] {
  background-color: #e0e6f2;
}

.select2-container--adwitt-multiple .select2-results.ps-container {
  position: relative;
  max-height: 200px;
}

.select2-selection--multiple .select2-selection__rendered {
  line-height: 23px;
}

/* Common radio */
.d-radio input[type="radio"] {
  display: none;
}

.d-radio label {
  position: relative;
  padding-left: 17px;
}

.d-radio label::before,
.d-radio label::after {
  content: ' ';
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -6px;
  display: inline-block;
  width: 14px;
  height: 13px;
  background-repeat: no-repeat;
}

.d-radio label::before {
  background-image: url("//file.adwitt.com/image/bg/bg_radio-bcbcbc-13x13.png");
}

.d-radio label::after {
  background-image: url("//file.adwitt.com/image/icon/icon_check-5f93ff-13x10.png");
}

.d-radio [type='radio']:not(:checked)+label::after {
  opacity: 0;
}

.d-radio [type='radio']:checked+label::after {
  opacity: 1;
  background-position-x: 1px;
}

/* select2 비활성화 스타일 */
.select2-container--adwitt.select2-container--disabled .select2-selection--single {
  color: #a0a0a0;
  background-color: #fff;
}

.select2-container--adwitt.select2-container--disabled .select2-selection--single .select2-selection__arrow b {
  opacity: 0.5;
}


/* table border */
._border--top {
  border-top: 1px solid #dadada
}

._border--bottom {
  border-bottom: 1px solid #dadada
}

/* 광고 상태 컬러 */
.campaign-status-wrap {
  display: block;
  padding: 5px;
  line-height: 0;
  cursor: pointer;
}

.campaign-status {
  display: inline-block;
  box-sizing: border-box;
  width: 5px;
  height: 5px;
  border-radius: 50%;
}

.campaign-status.--active {
  background-color: #00cb77;
}

.campaign-status.--scheduled {
  border: 1px solid #00cb77;
  background-color: transparent;
}

.campaign-status.--active-unusual {
  background-color: #ffc000;
}

.campaign-status.--inactive {
  background-color: #c0c0c0;
}

.campaign-status.--rejected {
  background-color: #e86767;
}

/* dropdown */
.dropdown-pane-wrap {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.dropdown-pane {
  z-index: 10;
  position: absolute;
  top: 26px;
  left: -101px;
  box-sizing: border-box;
  width: 220px;
  border: 1px solid #3b5998;
  background-color: #f0f0f0;
}

.dropdown-pane__inner {
  position: relative;
  padding: 20px;
}

.dropdown-pane__inner::before {
  content: '';
  display: block;
  position: absolute;
  top: -8px;
  left: 50%;
  margin-left: -4px;
  border-bottom: 8px solid #3b5998;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
}

.dropdown-pane__inner::after {
  content: '';
  display: block;
  position: absolute;
  top: -6px;
  left: 50%;
  margin-left: -3px;
  border-bottom: 6px solid #f0f0f0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.dropdown-pane__contents {
  font-size: 13px;
  line-height: 1.2;
  white-space: normal;
  color: #000;
}

.dropdown-pane__footer {
  margin-top: 30px;
  text-align: center;
}

.dropdown-pane__footer button+button {
  margin-left: 1px;
}

.js-dropdown-pane[aria-hidden="false"] {
  display: block;
}

.js-dropdown-pane[aria-hidden="true"] {
  display: none;
}

/* select2 - 4.0.3 */
.select2-hidden-accessible {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important
}

.list-round {
  position: relative;
  margin-top: -10px;
  padding: 0 4px;
}

.list-round li {
  box-sizing: border-box;
  width: 100%;
  background: #e4e4e4;
  height: 20px;
  line-height: 20px;
  border-radius: 20px;
  padding-left: 11px;
  margin-top: 10px;
  color: #404040;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding-right: 21px;
}

.list-round li button.button--delete-add {
  position: absolute;
  top: -1px;
  right: 1px;
  width: 21px;
  height: 21px;
  border: 0;
  background: url(/image/common.png) no-repeat -32px -89px;
  text-indent: -9999px;
  transition: 0.5s ease-in-out;
}

/* flex 박스를 이용해서 가운데 정렬 */
.centering-flex {
  -js-display: flex;
  display: flex;
  margin-top: 28px;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.multi .centering-flex {
  margin-top: 0;
}

/* 회색 글씨 */
.notice-data-result {
  color: #ababab;
  font-size: 13px;
}

a[href^='https://www.000webhost.com'] {
  display: none !important;
}