/*reset*/
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block
}

ol,
ul {
  list-style: none
}

blockquote,
q {
  quotes: none
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

html {
  height: 100%
}

.separator {
  text-align: center;
}

.sidebar-img img {
  border: 1px solid #ddd;
  width: 99% !important
}

#navbar-iframe {
  height: 0;
  visibility: hidden;
  display: none
}

#page-content {
  min-height: 100%
}

svg {
  width: 24px;
  height: 24px;
  vertical-align: middle
}

body {
  background: #fff;
  color: #efefef;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  text-align: left;
  margin: 0;
  text-rendering: optimizeLegibility !important;
  padding: 0;
  margin: 0;
  font-weight: normal
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0
}

a:link {
  color: #25A1D7;
  text-decoration: none
}

a:visited {
  color: #25A1D7;
  text-decoration: none
}

a:hover {
  color: #f4782c
}

a:focus,
a:active,
i:focus,
i:active {
  outline: 0
}

a img {
  border-width: 0;
  width: auto;
  height: 100%
}

img {
  text-indent: -1000px
}

.clearfloat:before,
.clearfloat:after,
.sidebar .widget:before,
.sidebar .widget:after {
  display: table;
  content: ''
}

.clearfloat:after,
.sidebar .widget:after {
  clear: both
}

.full-row {
  width: 100%;
  max-width: 980px
}

#searchbox,
#searchbox input[type="submit"],
#menu-icon {
  background-color: rgba(255, 255, 255, 0)
}

/* Header Wrapper */
#header {
  position: relative;
  min-height: 38px;
  margin-bottom: 15px;
  padding: 10px 0;
  background: #c13a30
}

.bg-color:after,
.bg-color:before {
  content: '';
  position: absolute;
  left: -60px;
  top: 0;
  height: 100%;
  max-height: 58px;
  -ms-transform: skewX(-58deg);
  -webkit-transform: skewX(-58deg);
  transform: skewX(-58deg)
}

.bg-color:before {
  width: 42%;
  background: rgba(0, 0, 0, .1)
}

.bg-color:after {
  width: 48%;
  background: rgba(0, 0, 0, .1)
}

#header-area {
  display: table;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  word-wrap: break-word;
  z-index: 2
}

#header-wrapper {
  z-index: 9;
  margin: 0;
  padding: 0;
  max-width: 200px;
  float: left;
  position: relative;
}

#Header1 {
  float: left;
  padding: 0;
  max-width: 360px
}

#header-wrapper h1.title,
#header-wrapper h2.title {
  color: #333;
  font-size: 24px;
  margin: 0;
  font-weight: 700;
  text-transform: capitalize;
}

#header-wrapper h1.title a,
#header-wrapper h2.title a {
  color: #fff;
  white-space: nowrap
}

#header-wrapper h1.title a:hover,
#header-wrapper h2.title a:hover {
  color: #eee
}

.descriptionwrapper {
  display: none;
  visibility: hidden;
  width: 0;
  height: 0
}

.header img {
  display: block;
}

#header-inner,
.mini-list li,
#searchbox input {
  display: table-cell;
  height: 38px;
  vertical-align: middle
}

.mini-list {
  float: right;
  margin-right: 60px
}

#menu-icon {
  display: none;
  float: right;
  margin: 7px 0;
  cursor: pointer;
  width: 24px;
  height: 24px
}

#menu-icon svg {
  fill: #fff
}

.mini-list li {
  padding: 0 10px;
  text-align: center
}

.mini-list li a {
  font-size: 14px;
  color: #fff;
  text-transform: uppercase
}

.mini-list a:hover {
  text-decoration: underline
}

/* Search Box */
#box {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  display: block;
  padding: 0;
  box-sizing: border-box;
  float: right;
  border-radius: 0;
  overflow: hidden;
  height: 38px;
  z-index: 9
}

#search-wrapper {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  overflow: hidden
}

#search-wrap {
  clear: both;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  display: block;
  overflow: hidden;
}

#searchbox {
  padding: 0;
  position: relative
}

#gosearch {
  display: block
}

#searchbox input[type='text'] {
  background: 0;
  color: #fff;
  width: 0px;
  padding: 0 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
  border-width: 0;
  border-style: solid;
  border-color: #fff;
  font-size: 13px;
  box-sizing: border-box;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  text-align: center;
  border-radius: 3px
}

#searchbox ::placeholder {
  color: #fff;
  opacity: .6
}

#searchbox :-ms-input-placeholder {
  color: #fff
}

#searchbox ::-ms-input-placeholder {
  color: #fff
}

#searchbox input:focus {
  outline: none;
  border: 0px solid #ddd;
  width: 210px;
  background: #9a2e26
}

#searchbox input:focus~.search-icon {
  background: 0;
  opacity: .5
}

.search-icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: 38px;
  border: 0;
  overflow: hidden;
  cursor: pointer
}

#box svg {
  position: absolute;
  top: 7px;
  left: 0;
  fill: #fff
}

/*wrapper*/
.content-wrapper {
  background: 0;
  position: relative;
  margin: 0 auto;
  z-index: 2;
  padding: 0px
}

#outer-wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 15px 0;
  overflow: hidden;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

#main-wrapper {
  position: relative;
  width: 640px;
  word-wrap: break-word;
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: left
}

#sidebar-wrapper {
  position: relative;
  display: block;
  width: 300px;
  word-wrap: break-word;
  margin: 0;
  padding: 0;
  float: right;
}

.sidebar {
  color: #666;
  line-height: 1.3em;
  border-top: 0;
  padding: 0
}

.sidebar h2 {
  margin: 0 0 15px;
  color: #333;
  font-size: 20px;
  padding: 0 0 10px;
  border-bottom: 5px solid #ddd;
  text-align: left;
  font-weight: 700;
  position: relative;
  clear: both
}

.sidebar h2:after {
  content: '';
  display: block;
  height: 5px;
  bottom: -5px;
  vertical-align: middle;
  left: 0;
  width: 50%;
  position: absolute;
  background: #c13a30
}

.sidebar li {
  line-height: 1.3em;
  margin: 0px;
  padding: 10px 0;
  border-bottom: 1px solid #ddd
}

.sidebar .widget {
  margin: 0 0 25px;
  padding: 0
}

.sidebar .widget:last-child {
  margin-bottom: 0
}

.sidebar .widget-content {
  margin: 0;
  padding: 0px;
  background: none;
  border-bottom: 0px solid #ddd
}

.sidebar a:link,
.sidebar a:visited {
  text-decoration: none
}

.sidebar li a:hover {
  color: #f4782c;
  text-decoration: none
}

.sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0
}

#ArchiveList .toggle {
  cursor: pointer;
  font-family: Arial, sans-serif
}

#ArchiveList .toggle-open {
  _font-size: 1.7em;
  line-height: .6em
}

#ArchiveList {
  text-align: left
}

#ArchiveList a.post-count-link,
#ArchiveList a.post-count-link:link,
#ArchiveList a.post-count-link:visited {
  text-decoration: none
}

#ArchiveList a.toggle,
#ArchiveList a.toggle:link,
#ArchiveList a.toggle:visited,
#ArchiveList a.toggle:hover {
  color: inherit;
  text-decoration: none
}

.BlogArchive #ArchiveList ul li {
  background: none;
  list-style: none;
  list-style-image: none;
  list-style-position: outside;
  border-width: 0;
  padding-left: 0px;
  text-indent: 0px;
  margin: .25em 0;
  background-image: none
}

.BlogArchive #ArchiveList ul ul li {
  padding-left: 1.2em
}

.BlogArchive #ArchiveList ul {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-image: none;
  border-width: 0
}

.BlogArchive #ArchiveList ul.posts li {
  padding-left: 1.3em
}

#ArchiveList .collapsed ul {
  display: none
}

.breadcrumbs-box {
  background: none;
  width: auto;
  overflow: hidden;
  margin: 0 0 10px;
  padding: 0;
}

.breadcrumbs {
  background: 0;
  width: auto;
  margin: 0px;
  padding: 0;
  font-size: 12px;
  color: #666;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis
}

.breadcrumbs li {
  list-style-type: none;
  display: inline-block;
  float: left
}

.breadcrumbs a {
  display: inline-block;
  text-decoration: none;
  outline: 0;
  transition: all .3s ease-in-out;
  color: #666
}

.breadcrumbs a:hover {
  color: orange
}

.breadcrumbs .gap {
  margin: 0 5px
}

#judul-post .post-title {
  font-size: 26px;
  text-transform: capitalize;
  color: #000;
  font-weight: 700;
  margin-bottom: 20px
}

.post {
  padding: 0;
  margin: 0;
  border: 0px solid #eee;
  border-top: none
}

.post-title {
  color: #000;
  margin: 0px;
  padding: 0px 0;
  font-weight: bold;
  font-family: Roboto, sans-serif
}

.post-body #konten h2,
.post-body #konten h3,
.post-body #konten h4 {
  margin: 15px 0 2px
}

.post-body #konten h2 {
  font-size: 22px
}

.post-body #konten h3 {
  font-size: 20px
}

.post-body #konten h4 {
  font-size: 18px
}

.post-body h5 {
  font-size: 16px
}

.post-body {
  margin: 0;
  font-size: 16px;
  padding: 0;
  color: #333
}

.post-footer {
  color: #444;
  text-transform: none;
  letter-spacing: .01em;
  line-height: 1.4em;
  margin: 0
}

/*== Post Table ==*/
.tabflow {
  overflow: auto
}

.post-body table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin: 10px 0;
  font-size: 14px
}

.post-body table td,
.post-body table caption {
  background: 0;
  border: 0px solid rgba(0, 0, 0, 0.05);
  padding: 10px;
  text-align: left;
  vertical-align: top
}

.post-body table th {
  background: #c13a30;
  color: #fff;
  border: 0px solid rgba(0, 0, 0, 0.05);
  border-bottom: 0;
  padding: 10px;
  text-align: left;
  vertical-align: top;
  font-weight: 700
}

.post-body table th a {
  color: #fff
}

.post-body table tr:nth-of-type(odd) {
  background: #f6f6f6
}

.post-body table tr:nth-of-type(even) {
  background: #fdfdfd
}

.post-body table.tr-caption-container {
  margin: 0 0 10px;
}

.post-body table caption {
  border: none;
  font-style: italic;
}

.post-body td,
.post-body th {
  vertical-align: top;
  text-align: left;
  padding: 3px 5px;
  border: 0px solid #97b28e;
}

.post-body th a:hover {
  color: #fff;
}

.post-body td a {
  color: #333;
}

.post-body td a:hover {
  color: #cf4d35;
}

.post-body table.tr-caption-container td {
  border: 0;
  text-align: center;
  color: #666;
  box-sizing: border-box;
  padding: 0;
  line-height: 1
}

.post-body table.tr-caption-container,
.post-body table.tr-caption-container img {
  width: auto;
  height: auto;
  margin: 10px 0;
  position: relative;
}

.post-body table.tr-caption-container img {
  margin: 0;
  display: block
}

.post-body ol,
.post-body ul {
  margin: 10px 0 10px 10px;
  display: inline-block
}

.post-body ol li,
.post-body ul li {
  margin: 0 0 5px 20px;
  display: list-item
}

.post-body ul li {
  list-style-type: square;
  padding-left: 5px;
  margin: 8px 0 0 20px
}

.post-body ol li {
  list-style-type: decimal;
  padding-left: 5px;
  margin: 8px 0 0 20px
}

.post-body table td.tr-caption {
  padding: 3px 5px 0 0;
  position: absolute;
  bottom: 0;
  background: #fff;
  font-size: 10px;
  display: inline-block;
  left: 0;
  margin-right: 10px;
  text-align: left;
}

.feed-links {
  clear: both;
  line-height: 2.5em
}

.clear {
  clear: both
}

/*== postmeta ==*/
.post-header .postmeta {
  margin-bottom: 15px;
  padding: 10px 0;
  border: 1px solid #ddd;
  border-left: 0;
  border-right: 0
}

.postmeta {
  padding: 0;
  margin: 0;
  position: relative;
  display: table;
  width: 100%
}

.authorava,
.detil,
.post-header .share-box {
  display: table-cell;
  vertical-align: middle
}

.authorava-x {
  display: block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  overflow: hidden
}

.authorava {
  width: 36px;
  padding-right: 10px
}

.detil .post-author {
  margin-bottom: 2px;
  font-size: 14px;
  font-weight: 700;
}

h3.date-header {
  font-size: 12px;
  font-weight: 400;
  color: #666;
  line-height: 1.3em;
  margin: 0
}

.postmeta .share-box {
  position: relative;
  float: right
}

.post-footer .share-box {
  margin: 10px 0
}

.sharecontainer {
  overflow: hidden;
  width: 100%
}

.sharecontainer svg {
  fill: #fff
}

.sharecontainer span {
  padding-left: 5px;
  height: 24px;
  vertical-align: middle
}

.sharecontainer a {
  border-radius: 2px;
  text-decoration: none;
  padding: 6px;
  font-size: 12px;
  display: inline-block;
  float: left;
  text-align: center;
  box-sizing: border-box;
  margin-right: 5px
}

.fbshare {
  background: #3b5998
}

.twshare {
  background: #4099ff
}

.pinit,
.washare {
  width: 36px;
  height: 36px;
  background-repeat: no-repeat;
  background-position: 50% 50%
}

.pinit {
  background-color: #dc483c;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAMAAAAMCGV4AAAAhFBMVEVHcEz///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////8yrJZjAAAAK3RSTlMA+v3z6wcWD2GxwPf+Ng2AbybgCpKcd0UuXfDdWQPSuxxVP+bWrHtrxQS40qXCNAAAAIFJREFUCB0FwAWWggAABNCP0ohg53bF3P9+PnA+3IZl3z4BjovkmuRlB9osplozFzlAVeb7/DUzZfGKU67VLau1MXnDJb91MvwZkwtO2a6L/HNP3lF95D5kpstyB+PnTzJpV9kDjkmWyXMD6NL3RblvAMq0ANCkqAFgkw4ANNsNgAeheQva9QLrSQAAAABJRU5ErkJggg==)
}

a.washare {
  background-color: green;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAMAAAAMCGV4AAAAtFBMVEVHcEz///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////9aXyCHAAAAO3RSTlMADZ69+/JJ3gZ5+GirfDMBYosv3D52CLEW0RLqpaK5C4WQlO5u50L8ViSGJuFzIwRm4sVSOSvHtZZa0KOHm8gAAACaSURBVAgdBcEFcsIAAACw1JXizjHc5z7+/68lIK1f4330kgOz72SdNoMi6/cgmEYTkHeTHsKvEUC3n7vGn1bbAORZpYiY3ztAK7K48FY+AYe5ccHg2AGa0nqDx7gI6uGD98zvLUeVxPd7Kgzl+womu/GwfS4/+NsBzKYh1+P5VAWQZssRrbi8ZdvlzyJLWs+oL027fSg2q1MA//uRC8wfiEUQAAAAAElFTkSuQmCC);
  margin-right: 0
}

.sharecontainer a {
  color: #fff
}

.sharecontainer a:hover {
  color: #fff;
  background-color: #000;
  text-decoration: none
}

.clock {
  padding: 0;
  margin: 0;
  text-transform: capitalize;
  font-size: 12px;
  color: #999
}

.author a {
  color: #c13a30
}

.author a:hover,
.clock a:hover,
.komen a:hover {
  color: #f4782c
}

.post-time,
.post-icons,
.postmeta1 .post-labels {
  text-decoration: none;
  border-left: 1px solid #ddd;
  padding-left: 5px;
  margin-left: 5px
}

.postmeta1 {
  height: auto;
  margin: 10px 0 15px;
  display: inline-block
}

.g-profile {
  display: none;
  padding-right: 10px;
  text-transform: uppercase;
  vertical-align: text-bottom
}

.g-follow_button {
  margin-left: 10px !important
}

.clear {
  clear: both;
}

.Label h2 {
  margin-bottom: 10px
}

.label-size {
  margin: 0 5px 5px 0;
  padding: 0;
  float: left;
  position: relative;
  text-align: center
}

.label-size a,
.label-size span {
  padding: 8px 10px;
  display: block;
  float: left;
  font-size: 14px;
  line-height: 1
}

.label-size a {
  background: #e5e5e5;
  color: #333
}

.label-size a:hover {
  background: #333
}

.label-size span {
  background: #333;
  color: #fff
}

.label-size a:hover,
.label-size span:hover {
  color: #fff !important
}

.post-summary {
  position: relative;
  height: 0;
  padding-top: 60%;
  position: relative;
  overflow: hidden;
  width: 100%
}

.post-summary img {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%
}

.post-summary:hover h3 {
  background: #000
}

.post-summary h3 {
  z-index: 1;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  margin: 0;
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, .6);
  text-transform: capitalize;
  text-align: center
}

.post-summary h3 a {
  color: #fff;
  font-weight: bold
}

.post-summary p {
  display: none
}

.PopularPosts .item-thumbnail {
  float: left;
  display: block;
  margin: 0 10px 0 0;
  padding: 0;
  border: 0px solid #ddd;
  width: 72px;
  height: 58px;
  overflow: hidden
}

.popular-posts img {
  width: 100%;
  height: auto
}

.popular-posts .item-title {
  font-size: 16px;
  overflow: hidden
}

.popular-posts .item-snippet {
  font-size: 12px
}

.PopularPosts .widget-content ul {
  width: 100%;
  background: 0;
  list-style-type: none;
  counter-reset: san
}

.PopularPosts .widget-content ul li {
  font-size: 16px;
  position: relative;
  margin: 0 0px;
  padding: 10px 0px !important;
  border-bottom: 1px solid #ddd
}

.PopularPosts .widget-content ul li a {
  color: #000;
  text-decoration: none
}

.PopularPosts .widget-content ul li a:hover {
  color: #f4782c
}

.PopularPosts .widget-content ul li:first-child {
  border-top: none;
  padding-top: 0 !important;
}

.PopularPosts .widget-content ul li:last-child {
  border-bottom: none
}

.popular-posts li>a,
.popular-posts li>.item-title {
  position: relative;
  padding-left: 30px !important;
  display: block;
  overflow: hidden;
}

.popular-posts li>a:before,
.popular-posts li>.item-title:before {
  padding: 0
}

.popular-posts li>a:before,
.popular-posts li>.item-title:before {
  box-sizing: border-box;
  content: counter(san)'.';
  counter-increment: san;
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 100%;
  color: #000;
  font-weight: 700
}

@media screen and (max-width : 902px) {

  .popular-posts,
  .PopularPosts {
    display: none;
    visibility: hidden;
  }
}

li>.item-snippet {
  display: none
}

/*==widget-social==*/
#widget-social {
  margin-bottom: 10px;
  overflow: hidden;
  color: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, .1);
  padding-bottom: 15px
}

.widgetheading {
  padding: 15px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  overflow: hidden
}

.socialicons {
  overflow: hidden;
  text-align: center;
  display: inline;
}

.socialicons a {
  padding: 5px;
  margin-right: 0.5%;
  border-radius: 50%;
  display: inline-block;
  background: rgba(0, 0, 0, .1)
}

.socialicons a:hover {
  background: #333
}

.socialicons svg {
  fill: #fff
}

.fbicon {
  background: #3B5998
}

.twittericon {
  background: #55ACEE
}

.yt {
  background: #D34836;
  margin-right: 0 !important
}

.isicon {
  background: #9A9A9A
}

#widget-social a {
  color: #fff
}

/*== Footer Wrapper ==*/
#footer-wrapper {
  position: relative;
  background-color: #1f1f1f;
  color: #fff;
  width: 100%;
  margin: 10px 0 0;
  border-top: 0px solid #ddd;
  overflow: hidden;
  font-size: 14px;
  display: table;
  overflow: hidden
}

.f-width {
  display: table-cell;
  vertical-align: middle
}

.f-bl {
  position: relative;
  padding: 20px
}

.f-title {
  background: #c13a30;
  max-width: 340px
}

.f-links {
  overflow: hidden;
  border-top: 0px solid rgba(255, 255, 255, .2);
  padding-top: 0px
}

.f-text {
  font-size: 12px;
  border-top: 1px solid rgba(255, 255, 255, .2);
  display: inline-block;
  width: 100%;
  padding-top: 15px;
}

.f-wrapper a {
  color: #fff
}

.f-wrapper a:hover {
  text-decoration: underline
}

.f-wrapper ul {
  margin: 0;
  overflow: hidden;
  display: inline-block
}

.f-wrapper ul:after {
  display: block;
  content: '';
  clear: both
}

.f-links ul li {
  float: left;
  text-align: center;
  margin: 5px 0
}

.row-menu-links ul li:after {
  content: '|';
  margin: 0 10px
}

.f-links ul li:last-child:after {
  content: '';
  margin: 0
}

.row-social {
  float: right
}

.row-menu-links {
  overflow: hidden;
  padding: 0 20px 0 0
}

.row-menu {
  float: left;
  position: relative;
}

.row-social li {
  padding-right: 10px
}

.row-social li:last-child {
  padding-right: 0
}

.row-social li a {
  display: block
}

.row-social svg {
  fill: #fff
}

.row-social li a:hover svg {
  fill: #fbd440
}

/*---- subscribe-box ----*/
.subscribe-box {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #000;
  letter-spacing: 1px;
  text-align: left;
  margin: 0
}

.nwheader {
  position: relative;
  margin-bottom: 10px;
  color: #fff
}

.nwheading {
  font: 700 20px "Roboto", sans-serif
}

.subscribe-box p {
  text-align: left;
  font-size: 11px;
  margin: 0;
  overflow: hidden
}

input.newsletter-address {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  background: #fdfdfd;
  color: #909090;
  border: 0px solid #ddd;
  margin-top: 0;
  height: 100%
}

.newsletter-address::-webkit-input-placeholder {
  color: #00ACF5
}

input.newsletter-submit {
  color: #FFF;
  transition: ease .3s all;
  cursor: pointer;
  background: #1f1f1f;
  border: 0;
  width: 100%;
  padding: 4px;
  font-size: 12px;
  margin-top: 0;
  text-transform: uppercase;
  height: 100%
}

.submit-button {
  width: 30%;
  float: left;
  height: 40px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 0;
  overflow: hidden
}

.submit-coll {
  width: 70%;
  float: left !important;
  overflow: hidden;
  height: 40px
}

.subscribe-box form {
  display: inline-block;
  margin: 0;
  width: 100%;
}

.submit-button:hover {
  background: #5FBA7D;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12)
}

/*---- end-subscribe-box ----*/
.post-body blockquote {
  position: relative;
  padding: 10px 10px 10px 20px;
  line-height: 24px;
  background-color: #f6f6f6;
  margin: 10px 0;
  font-family: Georgia, serif;
  border-left: 10px solid #c13a30;
}

.quickedit {
  display: none
}

/*== Homepage Page Navigation ==*/
#blog-pager {
  position: relative;
  text-align: center;
  width: 240px;
  margin: 10px auto;
  display: inline-block;
  width: 100%
}

#blog-pager-newer-link,
.page-end-new {
  float: left;
  width: 40px;
  display: table
}

#blog-pager-older-link,
.page-end-older {
  float: right;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 170px;
  display: table
}

.blog-pager-newer-link,
.blog-pager-older-link,
.no-more-new,
.no-more-old {
  background: #c13a30;
  display: table-cell;
  height: 40px;
  vertical-align: middle;
  width: 100%;
}

#blog-pager-older-link svg {
  position: absolute;
  right: 5px;
  top: 9px;
  fill: #fff;
}

.page-end {
  color: #eee;
}

#blog-pager a {
  color: #fff;
}

#blog-pager a:hover {
  background: #333
}

#blog-pager svg {
  fill: #fff
}

/* Back To Top */
#backtop {
  position: fixed;
  display: none;
  clear: both;
  text-align: center;
  margin: 0;
  right: 20px;
  bottom: 40px;
  transition: all .3s linear;
  background: #000;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 9
}

.pager-nav a:hover,
#backtop:hover {
  background-color: #ddd
}

/*--- iklan --*/
.iklan-atas .widget,
.iklan-bawah .widget {
  width: 100%;
  margin: 5px 0;
  display: inline-block
}

#ad-script1,
#ad-script2,
.iklan2 {
  margin: 10px auto;
  display: inline-block;
  width: 100%;
}

.iklan1 {
  float: left;
  margin: 5px 20px 5px 0
}

.testad {
  position: relative
}

.testad:after {
  content: 'Ad';
  position: absolute;
  left: 50%;
  top: 50%;
  background: rgba(0, 0, 0, .3);
  width: 30px;
  line-height: 30px;
  text-align: center;
  color: #fff;
  font-size: 12px;
  border-radius: 50%;
  overflow: hidden;
  margin-left: -15px;
  margin-top: -15px
}

/** Style 2 */
@media screen and (max-width:1024px) {
  .full-row {
    width: 768px
  }

  #main-wrapper,
  #sidebar-wrapper {
    float: none;
    width: 100%;
    margin: 0;
    border: 0
  }

  #menu-icon {
    display: block
  }

  #box {
    right: 40px
  }

  #menu-wrapper {
    float: none;
    margin: 0
  }

  #menutop a {
    padding: 0
  }

  .mini-list {
    margin: 0;
    width: 100%
  }

  #show-list {
    display: none
  }

  #show-list.menu-active {
    display: block;
    clear: both;
    width: 100%;
    margin-top: 10px
  }

  .menu-active li {
    padding: 10px 0;
    float: none;
    width: 100%;
    text-align: center;
    border-top: 1px solid rgba(0, 0, 0, .2);
    display: block;
    height: auto
  }

  .menu-active li:last-child {
    padding-bottom: 0
  }

  .menu-active a {
    width: 100%;
    display: block
  }
}

@media screen and (max-width:768px) {
  .full-row {
    width: 95%
  }

  .f-width {
    display: block;
    max-width: 100%
  }

  .postmeta {
    border: none;
    padding: 5px 0
  }
}

@media screen and (max-width:480px) {
  #Header1 {
    float: none;
    width: 100%;
    position: initial
  }

  #top-img img {
    margin: 10px 0
  }

  #header-area {
    padding: 0
  }

  #htop:after {
    display: block;
    content: '';
    clear: both
  }

  #sidebar-wrapper {
    padding-top: 10px
  }

  .editing {
    display: none
  }

  #judul-post .post-title,
  .sumcontent .post-title a {
    font-size: 20px
  }

  .post-body,
  .breadcrumbs {
    margin: 0
  }

  .article {
    float: none;
    width: 100%;
    min-height: auto;
  }

  .sumcontent {
    overflow: visible;
    padding: 0
  }

  .post {
    box-shadow: none
  }

  .f-links li:after,
  .longtxt,
  #backtop,
  .notxt {
    display: none !Important
  }

  .related-post-style-3 .related-post-item {
    width: 48% !important
  }

  .related-post-style-3 .related-post-item:nth-of-type(4n+1) {
    clear: none
  }

  .related-post-style-3 .related-post-item:nth-of-type(2n) {
    margin-right: 0px !important
  }

  .related-post-style-3 .related-post-item:nth-of-type(2n+1) {
    clear: both
  }

  .footer-colomn,
  .row-menu,
  .row-social {
    width: 100%
  }

  .f-text,
  .f-links {
    float: none;
    width: 100%;
    text-align: center;
    margin: 0;
  }

  .row-menu-links ul li {
    float: left;
    width: 48%;
    margin: 0 4% 0 0;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    padding: 10px 0;
    text-align: left
  }

  .row-menu-links {
    padding: 0
  }

  .row-menu-links ul li:nth-of-type(even) {
    margin-right: 0
  }

  .f-text ul li {
    padding: 10px 0;
    width: 100%
  }

  .iklan1 {
    margin: 5px auto;
    float: none;
    text-align: center
  }
}

@media screen and (max-width:320px) {
  .authorava {
    display: none
  }
}