@media screen and (max-width:1024px) {
  .full-row {
    width: 768px
  }

  #main-wrapper,
  #sidebar-wrapper {
    float: none;
    width: 100%;
    margin: 0;
    border: 0
  }

  #menu-icon {
    display: block
  }

  #box {
    right: 40px
  }

  #menu-wrapper {
    float: none;
    margin: 0
  }

  #menutop a {
    padding: 0
  }

  .mini-list {
    margin: 0;
    width: 100%
  }

  #show-list {
    display: none
  }

  #show-list.menu-active {
    display: block;
    clear: both;
    width: 100%;
    margin-top: 10px
  }

  .menu-active li {
    padding: 10px 0;
    float: none;
    width: 100%;
    text-align: center;
    border-top: 1px solid rgba(0, 0, 0, .2);
    display: block;
    height: auto
  }

  .menu-active li:last-child {
    padding-bottom: 0
  }

  .menu-active a {
    width: 100%;
    display: block
  }
}

@media screen and (max-width:768px) {
  .full-row {
    width: 95%
  }

  .f-width {
    display: block;
    max-width: 100%
  }

  .postmeta {
    border: none;
    padding: 5px 0
  }
}

@media screen and (max-width:480px) {
  #Header1 {
    float: none;
    width: 100%;
    position: initial
  }

  #top-img img {
    margin: 10px 0
  }

  #header-area {
    padding: 0
  }

  #htop:after {
    display: block;
    content: '';
    clear: both
  }

  #sidebar-wrapper {
    padding-top: 10px
  }

  .editing {
    display: none
  }

  #judul-post .post-title,
  .sumcontent .post-title a {
    font-size: 20px
  }

  .post-body,
  .breadcrumbs {
    margin: 0
  }

  .article {
    float: none;
    width: 100%;
    min-height: auto;
  }

  .sumcontent {
    overflow: visible;
    padding: 0
  }

  .post {
    box-shadow: none
  }

  .f-links li:after,
  .longtxt,
  #backtop,
  .notxt {
    display: none !Important
  }

  .related-post-style-3 .related-post-item {
    width: 48% !important
  }

  .related-post-style-3 .related-post-item:nth-of-type(4n+1) {
    clear: none
  }

  .related-post-style-3 .related-post-item:nth-of-type(2n) {
    margin-right: 0px !important
  }

  .related-post-style-3 .related-post-item:nth-of-type(2n+1) {
    clear: both
  }

  .footer-colomn,
  .row-menu,
  .row-social {
    width: 100%
  }

  .f-text,
  .f-links {
    float: none;
    width: 100%;
    text-align: center;
    margin: 0;
  }

  .row-menu-links ul li {
    float: left;
    width: 48%;
    margin: 0 4% 0 0;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    padding: 10px 0;
    text-align: left
  }

  .row-menu-links {
    padding: 0
  }

  .row-menu-links ul li:nth-of-type(even) {
    margin-right: 0
  }

  .f-text ul li {
    padding: 10px 0;
    width: 100%
  }

  .iklan1 {
    margin: 5px auto;
    float: none;
    text-align: center
  }
}

@media screen and (max-width:320px) {
  .authorava {
    display: none
  }
}